.navbar {
        background-color: rgba(251, 228, 228, 0.604); 
        background-color: #e3f2fd;
         
    } 
 

/* .navbar-brand {
    color: #fff; 
} */

.sec-1 {
    margin: 0;
    font-family: Arial, sans-serif;
    background-image: url('/assects/sec1.jpeg'); 
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    height: 80vh;
}

.sec-3-happy-stories {
    margin-bottom: 5rem; /* Adjust as needed */
  }

.sec-4-aboutMetrimonia{
    background: linear-gradient(to bottom right, #6e1d52, #9e0b33);
    /* For older browsers that don't support gradients */
    background: -webkit-linear-gradient(to bottom right, #6e1d52, #9e0b33);
    /* For some older Firefox versions */
    background: -moz-linear-gradient(to bottom right, #6e1d52, #9e0b33);
    /* For Internet Explorer (<=9) */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#6e1d52', endColorstr='#9e0b33', GradientType=1);
  
    height:20rem;
    
}

/*image tilt hover*/
.tilt-on-hover {
    transition: transform 0.3s;
  }
  
  .tilt-on-hover:hover {
    transform: rotate(15deg);
  }


  /*sec5 */
  :root {
    --gradient-start: #FF8C00; /* Default start color */
    --gradient-end: #FF4C00; /* Default end color */
  }

  .sec-5-yourStory {
    background-image: linear-gradient(var(--gradient-start), var(--gradient-end));
    height:10rem;
  }